#home{:"data-role" => "page", :"data-theme"=>"c"}
  #header
    %h1
      %img{:src => "assets/product-bridge.gif", :alt => "Outback", :width=>"154", :height=>"110"}
  %div{:"data-role"=>"content"}
    #inadequate_browser
      %p
        Warning: your browser does not appear to support the features required for Outback. 
        Please consider upgrading your browser or using the latest versions of Firefox or Google Chrome.
      %p
        If you have any questions, please submit them via our <a href="https://jsbridge.com.au/issues">Issue Tracker</a>.

#help{:"data-role" => "page", :"data-theme" => 'b', :"data-rel" => 'back'}
  %div{:"data-role" => "header"}
    %h1 Help
  %div{:"data-role"=>"content"}
    %p
      Please submit any issues via our <a href="https://jsbridge.com.au/issues" target="_BLANK">Issue Tracker</a>.
    %p
      The development team is grateful for your patience and looks forward to discussing any feedback you might have!



