#outback{:"data-role" => "page", :"data-theme"=>"c"}
  #header
    %h1
      %img{:src => "/assets/product-bridge.gif", :alt => "Outback", :width=>"154", :height=>"110"}
  %div{:"data-role"=>"content"}
